@import "compass/css3";

// classy button

// bouncing effect for the arrow

@include keyframes(bounce) {
	0%, 100% {
    @include transform(translateX(0));
  }
	56% {   
    @include transform(translateX(4px));
  }
}

// other styles


div {
   text-align: center;
   margin-top: 5em;
}

.btn-classy {
  border: 3px solid #2a2a2a;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

	position: relative;
  @include transition(color 0.3s ease, transform 0.3s ease);

	background-color: transparent;
	padding: 0 53px 0 30px;
	height: 48px;
	line-height: 40px;

	> span {
		display: inline-block;
		vertical-align: middle;
		line-height: 15px;
		max-width: 188px;
		white-space: normal;
	}

  &::after {
    content: '';
    height: 10px;
    width: 7px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAALCAYAAABCm8wlAAAAwklEQVQYV3WQvQ7BcBTFzw2JNjF7AqaaTeIrbF7DwhPo3pJYLMJzGA1qkdhbJm9gMfqIHrn/RFMVd7o553dPbo4AwDFYFCnXgdN05yJC1T4juoSBvwHZg2BVbbnDNGSAUzDpvsA1SDsLGSALCWTptMcjTUoAA+28XkysSVgJlH7ovJ+Vbo/nnmQZIqFlF+tJgjHvzy1BByKRlUOn0nAvBvhnqick5Rj4BwK19OVXD9HOayPGtJCXvsb+FKWCJmVbVP0NQ0NgTaGtuB4AAAAASUVORK5CYII=');
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -4px;
  }

   &:hover {
      cursor: pointer;
      &::after {
       @include animation(bounce 1s infinite);
     }
   }
}

.btn-classy {
   font-family: sans-serif;
}
